article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    font-size: 80%;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    max-width: 100%;
}
.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}
main, .list-profile{
    margin: 1%;
}
footer, .logo {
    text-align: center;
}
a, a:visited {
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #23ba23;
}

a.logo-a {
    font-family: 'Righteous', cursive;
    font-size: 3em;
    color: #23ba23;
    font-weight: 800;
}
.logo{
    margin: 1%;
}
.nav-container {
    display: flex;
}
.menu a, .list-profile {
    text-transform: uppercase;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 1%;
    align-items: center;
}
.menu a {
    margin-right: 1em;
}
.category-nav {
    display: table;
    margin: 0 auto;
    text-align: center;
    word-spacing: 1em;
    font-size: 1.2em;
}
ul#category {
	list-style: none;
}
ul#category li {
	display: inline;
}
img {
    max-width: 100%;
}
.project-owner {
    font-size: 1em;
    color: grey;
}
.login {
    max-width: 100%;
}
body {
display: flex;
flex-flow: column;
}
.root {
    display: flex;
    min-height: 69vh;
    flex-flow: column nowrap;
    flex-grow: 1;

    &--body {
      flex: 1 0 auto;
    }
}
.project-wrapper {  
    width: 700px;
    height: 400px;
    overflow: hidden; 
  }
  .inner-img {
    transition: 0.3s;
  }
  
  .inner-img:hover {
    transform: scale(1.1);
  }
  .project-description-one {
      
  }
  
  <----

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    transition:0.3s all ease;
}

.modal {
    width:100%;
    max-width:450px;
    background:white;
    border-radius:2px;
    color:#484848;
    /*position your modal in the center of the screen*/
    margin: 50px auto 0;
}

.social-logins {
    border-bottom:1px solid #dce0e0;
}

.social-logins {
    padding-bottom:23px;
    position:relative;
}

.social-icons {
    width: 20px;
    float: left;
    margin-left: -6px;
}

.social-logins p {
    position: absolute;
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    bottom: -10px;
    left: calc(50% - 20px);
    /* 50% minus the approximate width of the element */
    background-color: white;
}

.social-logins a {
    padding: 20px 27px;
    display:block;
    text-align:center;
    border-radius:2px;
    text-decoration:none;
    margin-bottom:6px;
    border: 1px solid;
}

.fb-login a {
    background:#3B5998;
    border-color:#3B5998;
    border-bottom-color:#263a63;
    color:white;
    font-weight:lighter;
}

.fb-login a:hover {
    background:#4568b2;
    border-color:#4568b2;
    border-bottom-color:#2d4575;
}

.google-login a{
    border-color:#c4c4c4;
    color:#484848;
}

.google-login:hover {
    border-color:#aaa;
}

.social-logins a + a {
    margin-top:8px;
}
form {
    padding-top:17px;
    padding-bottom: 15px;
}

input[type=text], input[type=password] {
    padding:10px 35px 10px 10px;
    display:block;
    width:100%;
    line-height:40px;
    border-radius:2px;
    border:1px solid #c4c4c4;
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size:24px;
}

input[type=submit] {
    background:#ff5a5f;
    border:1px solid;
    border-color:#ff5a5f;
    border-bottom-color:#e00007;
    display:block;
    padding:20px 27px;
    width:100%;
    color:white;
    border-radius:2px;
    margin-top:12px;
}

input[type=submit]:hover {
    background:#ff7e82;
    border-color:#ff7e82;
    border-bottom-color:#fa0008;
}

input[type=checkbox] {
    float:left;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:1px solid #c4c4c4;
    height:17px;
    width:17px;
    border-radius: 2px;
    margin-right:10px;
}

input[type=checkbox]:checked:before {
    content:'\2713';
    color:#ff5a5f;
    width:17px;
    display: block;
    text-align: center;
    font-size:13px;
}

input[type=checkbox] + label {
    float:left;
    font-size:14px;
}

a.forgot-password {
    float: right;
    color:#d43242;
    text-decoration: none;
    font-size:14px;
}

a.forgot-password:hover {
    text-decoration: underline;
}

.sign-up {
    margin-top:15px;
}
.sign-up a {
    padding:7px 21px;
    border:1px solid #ff5a5f;
    color:#ff5a5f;
    border-radius:2px;
    text-decoration:none;
    font-size:14px;
    display:inline-block;
    float: right;
    line-height:20px;
}

.sign-up p {
    float: left;
    margin:0;
    line-height:34px;
    color:#4D4D4D;
}
.signup {
    text-align: center;
}
--------->