<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    <title>Crowdfunder</title>
</head>
<body>
    <div class="root">
        <nav>
            <div class="logo">
                <a class="logo-a" href="{% url 'home' %}">Crowdfunder</a>
            </div>
            <hr class="new">
            <container class="nav-container">
                <div class="search-container">
                        <form action="{% url 'search_results' %}" method="GET">
                            <label for="project-search">
                                <input
                                type="search"
                                id="project-search"
                                name="query"
                                placeholder="Search.."
                                {% if query %}
                                    value="{{ query }}"
                                {% endif %}
                                />
                            </label>
                        </form>
                </div>
                <div class="list-profile">
                        <a  href="{% url 'profile_list' %}" role="button">List of Profiles</a>
                </div>
                <div class="menu">
                    
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'create_project' %}" role="button">Start a new project</a>
                    <a  href="{% url 'logout' %}" role="button">Sign out</a>
                    {% else %}
                    <a href="{% url 'login' %}" role="button">Sign in</a>
                    <a href="{% url 'signup' %}" role="button">New User</a>
                    {% endif %}
                </div>
            </container>
            <hr class="new">
                <div class="category-nav">
                <ul id="category">
                    <li>{% block category-comics %}<a href="{% url 'category' cat='comics' %}">Comics</a>{% endblock %}</li>
                    <li>{% block category-tech %}<a href="{% url 'category' cat='tech' %}">Tech</a>{% endblock %}</li>
                    <li>{% block category-food %}<a href="{% url 'category' cat='food' %}">Food</a>{% endblock %}</li>
                    <li>{% block category-games %}<a href="{% url 'category' cat='games' %}">Games</a>{% endblock %}</li>
                    <li>{% block category-music %}<a href="{% url 'category' cat='music' %}">Music</a>{% endblock %}</li>
                </ul>
            </div>
            <hr class="new">
        </nav>
        </header>
        <main class="root">
            {% block content %}

            {% endblock %}
            </div>
        </main>
        <footer class="root--body">Copyright TimKurbanov.Ca </footer>
    </div>
</body>
</html>