{% extends 'base.html' %}
{% block content %}
<main class="home-main">
    <h2>{{ category }} projects</h2>
    <h3>${{ category_funding }} has been raised for {{ category }} projects with a success rate of {{ success_rate }}%</h3>
    <ul class="projects-list">
        {% for project in projects %}
        <li class="project-item">
            <a href="{% url 'project_detail' id=project.id %}">
                <h2 class="project-title">{{ project.title }}</h2>
            </a>
            <h3 class="project-owner">By: {{ project.owner }}</h3>
            <h3 class="project-description">{{ project.description|truncatechars:100 }}</h3>
            <img src="{{ project.picture }}" alt="{{ project.title }}" />
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}