{% extends 'base.html' %}

{% block content %}

<main class="home-main">
    <h2>More projects from {{ owner.username }}</h2>
    <ul class="projects-list">
        {% for project in owner.projects.all %}
        <li class="project-item">
            <h2 class="project-title">{{ project.title }}</h2>
            <h3 class="project-owner">By: {{ project.owner }}</h3>
            <h3 class="project-description">{{ project.description|truncatechars:100 }}</h3>
            <img src="{{ project.picture }}" alt="{{ project.title }}" />
        </li>
        {% endfor %}
    </ul>
</main>

{% endblock %}